html, body {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

.chunk {
    padding-top: 15px;
}

.configuration {
    padding: 15px;
}

.loser {
    visibility: hidden;
}

.stupidButtonsGiveMeTopPadding {
    padding-top: 15px;
}