body, html{
    background:#F7C636;
}

li {
    font:24px sans;
    font-weight: bold;

    width: 150px;
    height: 150px;
    display: table-cell;

    border:4px solid #4D2F1D;
    background:white;
    color:#B7271C;

    cursor: pointer;
}
