/**
* Post It Note CSS comes from
* http://code.tutsplus.com/tutorials/create-a-sticky-note-effect-in-5-easy-steps-with-css3-and-html5--net-13934
*/

body {
    background-color: darkgray;
}

li {
    display: block;
    height: 8em;
    width: 12em;
    background: #ffffcc;
    padding: 10px;

    float: left;
    margin: 10px;

    font-weight: bold;
    font-size: 1.2em;
    text-align: center;

    box-shadow: 3px 3px 5px rgba(30,30,30,.7);
    -moz-box-shadow: 3px 3px 5px rgba(30,30,30,.7);
    -webkit-box-shadow: 3px 3px 5px rgba(30,30,30,.7);
}

li:nth-child(even){
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    transform: rotate(4deg);
    position:relative;
    top:5px;
    background: #CCFFCC;
}
li:nth-child(3n){
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
    position:relative;
    top:-5px;
    background: #CCCCFF
}
li:nth-child(5n){
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
    position:relative;
    top:-10px;
}
li:nth-child(7n){
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    -o-transform: rotate(6deg);
    transform: rotate(6deg);
    position:relative;
    top:-7px;
    background: #ffa195
}

