<!doctype html>
<html ng-app="scooter" ng-controller="ScooterController">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" ng-href="css/{{theme}}.css">
</head>

<body class="container-fluid">
<div class="row">
    <div class="col-xs-2 chunk" >
        <button ng-click="playGame()" class="btn btn-primary btn-block">Play</button>
        <button ng-click="resetGame()" class="btn btn-default btn-block">Reset</button>
        <button ng-click="config()" class="btn btn-block btn-info">config</button>
    </div>

    <div class="col-xs-10 chunk">
        <ul>
            <li ng-repeat="attendee in attendees" ng-class="{loser: !attendee.isAlive}">
                {{attendee.name}}
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script type="text/javascript" src="js/uibootstrap/ui-bootstrap-custom-tpls-0.13.0.min.js"></script>
<script type="text/javascript" src="js/model/Player.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controller/ScooterController.js"></script>
<script type="text/javascript" src="js/controller/ConfigurationModal.js"></script>
<script type="text/javascript" src="js/service/config.js"></script>
<script type="text/javascript" src="js/service/attendees.js"></script>
</body>
</html>